@using Sitecore.Mvc

@{
  Layout = null;
}

<div id="header-content">
    @Html.Sitecore().Placeholder("header-content")
</div>
<div id="content" class="content-lines clearfix">
    <div class="sep-content"></div>
    <div class="col-1">
        @Html.Sitecore().Placeholder("left-column")
    </div>
    <div id="landing" class="col-2">
        @Html.Sitecore().Placeholder("central-column")
    </div>
    <div class="col-3">
        @Html.Sitecore().Placeholder("right-column")
    </div>
</div>
   